<script type="text/javascript">

// Help from Stackoverflow
var basePrice = +($('#price').html()).replace(/[^0-9\.]+/g,"");

$("#id_product_size").change(function() {
  newPrice = basePrice;
  $("#id_product_size option:selected").each(function() {
    newPrice += +$(this).attr('data-price');
  });
  $("#price").html('€' + newPrice.toFixed(2));
  var itemId = $(this).data('item_id');
  handleEnableDisable(itemId);
  console.log("Base Price", basePrice);
  console.log("New Price", newPrice);
});

// var form = document.getElementById('product_form');

// // Carry over price to other pages
// form.addEventListener('submit', function(ev) {
//     ev.preventDefault();
//     newPrice = basePrice;
//     var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
//     var price = $("#price").html('€' + newPrice.toFixed(2));

//     var postData = {
//         'csrfmiddlewaretoken': csrfToken,
//         'price': newPrice,
//     };

//     var url = '/bag/add_to_bag/${itemId}/';
//     console.log(price);
//     console.log(price[0]);
//     console.log(price);

//     $.post(url, postData)
//     .done(function () {
//       location.reload();
//       console.log("Success");
//     })

// });

// </script>