.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {

    display: block;
    margin-bottom: 12px;
    width: 100%;
    padding: 0.600rem 0.75rem;
    font-size: 15px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #DADADA;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: 'Work Sans', sans-serif;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #5B5B5B;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.bg-style {
    background-color: #fafafa;
    padding: 3%;
}