/* ---------------------------------------- General Styling */
html {
    height: 100%;
}

body {
    background: url('/media/poster-art-home-banner.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    background-position-y: 0px;
}

h1,h2,h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    color: #111111;
    letter-spacing: -2px;
}

p {
    color: #5B5B5B;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
}

i {
    font-size: 22px;
    color: #5B5B5B;
}

.shop-button {
    background: #111111;
    color: #fff;
    width: 250px;
}

.shop-button:hover{
    color: #fff;
    border: solid 2px #111111;
}

/* ---------------------------------------- Header Styling */


.quantity {
    color: #fff;
    font-weight: 400;
    position: absolute;
    font-size: 15px;
    top: 28px;
    right: 40px;
    background: #111111;
}

.dropdown-menu.show {
    display: block;
    border-radius: 0;
}

.dropdown-menu.show.user {
    transform: translate3d(-82px, 28px, 0px)!important;
}

.dropdown-menu.show.search {
    transform: translate3d(0px, 90px, 0px)!important;
}

.border-line {
    border-bottom: solid 1px #ffffff;
    background: #fff;
}

.nav-link {
    padding: 1rem 2rem;
}

.nav-link-mobile {
    padding: 1rem 0rem;
}

.navbar-toggler {
    padding: 0px!important
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    border-radius: 0;
    border: none;
}

.promo-banner  {
    background: #6D7F80;
}

.promo-text {
    color: #fff!important;
    text-transform: uppercase;
}

.nav-icons {
    padding-left: 20px;
    text-decoration: none;
}

.nav-icons i:hover {
    color: #111111;
}

.nav-icons-mobile i:hover {
    color: #111111;
}

.nav-icons-mobile {
    padding-left: 5px;
    text-decoration: none;
}

.nav-search {
    color: #111111;
}

.border-black {
    color: #111111;
}

.menu-text {
    color: #5B5B5B;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    padding-left: 20px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #111111;
}

a {
    text-decoration: none;
}
/* ---------------------------------------- Banner Styling */

.header-text {
    font-size: 60px;
    color: #fff;
    text-shadow: 2px 4px 4px rgba(0,0,0,0.2),
                 0px -5px 10px rgba(255,255,255,0.15);
}