<div class="row footer-styling">
    <div class="col-12 col-md-3 col-lg-4 mt-3 mb-3">
        <h4>Quick Links</h4>
        <hr class="line-divider">
        <ul class="list-styling">
            <li><a href="{% url 'products' %}?category=liguify,cubism,gradients,geometric,collage" class="quick-links">All Posters</a></li>
            <li><a href="{% url 'products' %}?category=frames" class="quick-links">Frames</a></li>
            <li><a href="{% url 'products' %}?category=new_arrivals" class="quick-links">New Arrivals</a></li>
            <li><a href="{% url 'about' %}" class="quick-links">About</a></li>
        </ul>
    </div>
    <div class="col-12 col-md-4 col-lg-4 mt-3 mb-5">
        <h4>Contact Us</h4>
        <hr class="line-divider">
        <p><strong>Email:</strong> hello@posterart.ie</p>
        <a href="https://twitter.com/?lang=en" aria-label="Twitter" target="_blank" class="socials">
            <img src="{{ MEDIA_URL }}twitter.png" height="18" alt="Twitter Logo">
        </a>
        <a href="https://www.facebook.com/" aria-label="Facebook" target="_blank" class="socials">
            <img src="{{ MEDIA_URL }}facebook.png" height="18" alt="Facebook Logo">
        </a>
        <a href="https://www.instagram.com/?hl=en" aria-label="Instagram" target="_blank" class="socials">
            <img src="{{ MEDIA_URL }}instagram.png" height="18" alt="Instagram Logo">
        </a>
        <a href="https://ie.linkedin.com/" aria-label="LinkedIn" target="_blank" class="socials">
            <img src="{{ MEDIA_URL }}linkedin.png" height="18" alt="LinkedIn Logo">
        </a>
        <a href="https://www.pinterest.ie/" aria-label="Pinterest" target="_blank" class="socials">
            <img src="{{ MEDIA_URL }}pinterest.png" height="18" alt="Pinterest Logo">
        </a>
    </div>
    <div class="col-12 col-md-5 col-lg-4 mt-3">
        <h4>Submit Your Work</h4>
        <hr class="line-divider">
        <p>If you would like to sell your work through Poster Art on a commission base please submit you work for more details</p>
        <p><strong>Email:</strong> submit@posterart.ie</p>
    </div>
</div>