<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li>
            <a href="#" class="home-link menu-text">Home</a>
        </li>
        <li class="nav-item dropdown">
             <a class="menu-text" href="#" id="poster-products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Posters
             </a>
             <div class="dropdown-menu" aria-labelledby="poster-products">
                <a href="#" class="dropdown-item menu-text">Liquify</a>
                <a href="#" class="dropdown-item menu-text">Cubism</a>
                <a href="#" class="dropdown-item menu-text">Gradients</a>
                <a href="#" class="dropdown-item menu-text">Geometric</a>
                <a href="#" class="dropdown-item menu-text">Collage</a>
                <a href="#" class="dropdown-item menu-text">All Posters</a>
             </div>
        </li>
        <li>
            <a href="#" class="frame-link menu-text">Frames</a>
        </li>
        <li>
            <a href="#" class="new-link menu-text">New Arrivals</a>
        </li>
        <li>
            <a href="#" class="about-link menu-text">About</a>
        </li>
    </ul>
</div>