{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row margin-styling">
            <div class="col">
                <h2>Blog</h2>
                <hr class="line-divider">
            </div>
        </div>
        <div class="row">
            {% for post in posts %}
                <div class="col-12 col-xl-8">
                    <div class="card mb-3 rounded-0 border">
                        <div class="row g-0">
                        <div class="col-md-4">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" class="card-img-top img-fluid rounded-0" alt="{{ post.title }}">
                        {% else %}
                            <img src="{{ MEDIA_URL }}no-image.png" alt="{{ post.title }}">
                        {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h4 class="card-title">{{ post.title }}</h4>
                            <p class="card-text"><small class="text-muted">Posted at {{ post.date_added }}</small></p>
                            <p class="card-text">{{ post.intro|truncatechars:220 }}</p>
                            <a href="{% url 'post_detail' post.id %}" class="btn add-to-cart rounded-0 text-uppercase mt-1">Read More</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}