<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="toast-header bg-white text-dark">
        <i class="fi fi-rs-check success"></i>
        <strong class="me-auto">Success!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
            </div>
        </div>
        {% if grand_total %}
            <p class="logo-font bg-white text-black py-1 mt-3">Your Cart ({{ product_count }})</p>
            <div class="bag-notification-wrapper">
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            <img class="w-100" src="{{ item.product.image.url }}">
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small">Size: {{ item.size|upper }}</p>
                            <p class="my-0 small text-muted">Quantity: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col mt-2 text-center">
                    <h5>Delivery - €{{ delivery|floatformat:2 }}</h5>
                    <h5>Subtotal - €{{ grand_total|floatformat:2 }}</h5>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-1 text-danger">
                            You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                        </p>
                    {% endif %}
                    <div class="col-12 d-grid gap-2 col-12 mx-auto mt-2">
                        <a href="{% url 'view_bag' %}" class="btn add-to-cart rounded-0 text-uppercase mt-1">
                            <span class="text-uppercase">Check Out</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>